body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

header {
    background-image: url(../img/marihuana.jpg);
    overflow: hidden;
    padding: 20px 10px;
}

header a {
    float: left;
    color: black;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;

}
header .menu{
    background-color: yellow;
    border-radius: 20px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header .menu a:hover {
    background-color: #f3b643;
    color: white;
}

header .menu {
    float: right;
    
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color:white;
    text-align: center;
}

section {

    border: solid 5px yellow;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

section article {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
}

section article p {
    margin: 5px;
    font-size: 16px;
    text-align: justify;
}

section article img {
    width: 150px;
    margin-right: 10px;
    float: center;
    border-radius: 100px;
}



.form input[type=text], input[type=number],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid cadetblue;
    box-sizing: border-box;
}

.form button {
    background-color: coral;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    float: left;
}

.form .error {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid red;
    ;
    box-sizing: border-box;
}

.form button :hover {
    opacity: 0.8%;
}

.contenedorAvatar {
    text-align: center;
    margin: 24px 0 12px 0;
}

.contenedorAvatar img.Avatar {
    width: 20%;
    border-radius: 50%;
}

.contenedorLogin {
    padding: 16px;
}



.number {
    display: inline-block;
    background-image: linear-gradient(to top #a18cd1 0%, #fbc3eb 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}



.formulario input[type=text], input[type=number],
input[type=password], input[type=date], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid cadetblue;
    box-sizing: border-box;
}


div.rut>input#rut {
    width: 80%;
    display: inline-block;
}

div.rut>input#dv {
    width: 10%;
    display: inline-block;
}

div.rut>p {
    width: 10%;
    display: inline-block;
    text-align: center;
}

.btn {
    text-align: center;
}