{% extends "ProyectowebApp/base.html" %} {% load static %} {% block content %}


<div class="contenedorFormulario">

    {% if "valido" in request.GET %}

    <p style="color: white">Informacion enviada correctamente, gracias</p>

    {% endif %}

    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="color: white; margin: 20px auto; font-family: Raleway;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 150px; font-family: Raleway;">
    </form>
</div>


{% endblock %}