{% extends "bolados/base.html" %} 
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Bola2</span>
                        <span class="section-heading-lower">Catálogo Virtual</span>
                    </h2>
                    <div class="subheading mb-5">
                        Todo lo que buscas para fumar en un solo lugar
                        <a href="mailto:informacion@bolados.com">informacion@bolados.com</a>
                    </div>
                    <p class="lead mb-5">
                        <label>Cantidad de clientes: {{clientes}}</label><br>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}