{% extends "base_generico.html" %}

{% block contentido %}
<div class="container-fluid p-0">
    <section class="resume-section" id="inicio">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Bola2
                <span class="text-primary">Catálogo virtual!</span>
            </h1>
            <div class="subheading mb-5">
                Catálogo de los mejores productos para fumar
                <a href="mailto:informacion@ivivook.com">informacion@bolados.com</a>
            </div>
            <p class="lead mb-5">
                <label>Cantidad de libros: {{libros}}</label><br>
                <label>Cantidad de copias: {{existencias}}</label><br>
                <label>Cantidad de disponibles: {{disponibles}}</label><br>
                <label>Cantidad de autores: {{autores}}</label><br>
            </p>
            <div class="social-icons">
                <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            
        </div>
    </section>
</div>
{% endblock %}