{% extends "ProyectowebApp/base.html" %} {% load static %} {% block content %} {% for post in posts %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%"><br>
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower" style="color: rgba(24, 64, 8">{{post.titulo}}</span>
                                <span class="section-heading-upper" style="color:black">{{post.contenido}}</span>
                            </h2>

                            <div style="text-align: left; font-size: 0.8em; color:black">

                                Autor: {{post.autor}}

                            </div>
                            <div style="width: 75%; margin: auto; text-align: center; color:black">

                                Categorias: {% for post in posts%} {% for categoria in post.categorias.all %}

                                <a href="{% url 'categoria' categoria.id %}" class="linksCategorias" style="color:black">{{categoria.nombre}}
                                    
                                </a> &nbsp;&nbsp;&nbsp; {% endfor %} {% endfor %}

                        </div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}